*{
    margin: 0px;
    border: 0px;
    padding: 0px;
    font-family: sans-serif;
}

button{
    border-radius: 15px;
    padding: 10px;
    border-style: solid;
    border-color: rgb(147, 143, 143);
    border-width: 2px;
}

button:hover{
    border-color: blue;
    cursor: pointer;
}

button:active{
    background-color: gray !important;
}

.principal{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.principal > div{
    padding: 25px;
}

.volver{
    background-color: rgb(246, 175, 233);
}

.cabecera{
    padding: 25px;
    background-color: rgb(161, 110, 185);
    color: #fff;
}

.cabecera > .identidad{
    float: left;
    font-size: 40px;
    font-weight: bold;
    font-family: sans-serif;
    font-variant: all-petite-caps;
}

.cabecera > .cerrar-sesion{
    float:right;
}

.cuerpo{
    flex: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(246, 175, 233);
}

.cuerpo > div{
    text-align: center;
    margin:20px
}

.cuerpo > .titulo{
    font-size: larger;
    font-weight: bold;
}

.cuerpo.inicio-sesion > .formulario{
    width: fit-content;
    padding: 50px;
    display: flex;
    flex-direction: column;
}

.formulario > .campos-de-texto{
    min-width: 25vw;
}

.formulario > .campos-de-texto > div{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.pie{
    height: 10px;
    text-align: center;
    background-color: rgb(73, 58, 80);
    color: #fff;
    font-weight: bold;
}

.solicitudes-abiertas > .solicitud{
    background-color: rgb(29, 29, 29);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.solicitudes-abiertas > .solicitud > .datos-usuario{
    padding:10px;
    font-weight: bold;
    color: white ;
}

.solicitudes-abiertas > .solicitud > .botones{
    display: flex;
}

.solicitudes-abiertas > .solicitud > .botones > div{
    width:50%;
}

.solicitudes-abiertas > .solicitud > .botones > div > button{
    width:100%;
    color: white;
}

.solicitudes-abiertas > .solicitud > .botones > div.aceptar-solicitud > button{
   border-top-right-radius: 0px;
   border-bottom-right-radius: 0px;
   background-color: rgb(55, 125, 55);
}

.solicitudes-abiertas > .solicitud > .botones > div.rechazar-solicitud > button{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: rgb(251, 114, 114);
}